* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; //1rem = 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

.page-layout {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: [header-start] 10rem [header-end main-start] 1fr [main-end];
}

.header {
	background-color: cornflowerblue;
	grid-row: header-start / header-end;
	grid-column: 1 / -1;
	display: flex;
	flex-flow: wrap column;
	justify-content: space-around;

	&__title {
		width: 100%;
		text-align: center;
		&-main {
			font-family: 'Righteous', cursive;
			font-size: 2.5rem;
		}
		&-sub {
			font-size: 1.5rem;
		}
	}
	&__connect {
		justify-self: flex-end;
	}
}

.main-area {
}

.hidden {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	right: 5000px;
}
