.game-area {
	background-color: darkgrey;
	height: 100%;
	display: grid;
	grid-template-rows: 30% 30% 40%;
	font-size: 1.4rem;
}
.opponent-area {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	display: flex;
}
.player-area {
	grid-row: 2 / 4;
	grid-column: 1 / 2;
	background-color: orange;
	justify-content: flex-end;
	padding: 10rem;
}
.play-area {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding: 1rem;
	font-size: 2rem;
	pointer-events: none;
	& > * {
		height: 150px;
		width: 200px;
		padding: 2rem;
	}

	&__deck {
		background-color: green;
	}
	&__pile {
		background-color: lightseagreen;
		display: flex;
		flex-flow: column nowrap;
	}
	&__burned {
		background-color: brown;
	}
	&__btn {
		grid-column: 2 / 3;
		justify-self: center;
		align-self: end;
		pointer-events: all;
	}
}

.duplicate-or-pass {
	z-index: 100;

	& .btn {
		background-color: white;
	}
}

.pick-up-pile {
	&__btn {
		align-self: center;
		margin-top: auto;
		padding: 0;
		background-color: white;
		z-index: 100;
		pointer-events: all;
	}
}

.player-1 {
}

.player-2 {
	background-color: darkkhaki;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.player-3 {
	background-color: goldenrod;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.player-4 {
	background-color: burlywood;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.player-5 {
	grid-row: 1 / 2;
	grid-column: 4 / 5;
}

.user-space {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	padding: 2rem;
}

.opponent {
	flex-basis: 100%;
	justify-content: center;
	&__name {
		align-self: flex-start;
		margin-bottom: auto;
	}
	&__cards {
		& > p {
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
	&__hands {
	}
}

.opponent,
.player-1 {
	&__name {
		font-family: 'Righteous', cursive;
		font-size: 2rem;
		margin-bottom: auto;
		align-self: flex-start;
		text-transform: uppercase;
		color: black;
	}
	&__cards {
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		gap: 2rem;

		& > p {
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
	&__hand, &__face-up, &__face-down {
		display: flex;
		// Player's cards are in anchor tags but opponents are not
		& a p, & p {
			margin-right: .5rem;
		}
	}
}

.active-player {
	border: 1rem silver solid;
}

.card {
	color: black;
	font-weight: 600;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: white;
	text-align: center;
}

.card-link {
	text-decoration: none;
}

.wild {
	color: goldenrod;
}

.special {
	color: brown;
}
