.game-area {
	background-color: darkgrey;
	grid-row: main-start / main-end;
	grid-column: 1 / -1;
	display: grid;
	grid-template-rows: 30% 30% 40%;
	grid-template-columns: repeat(3, 1fr);
}

.play-area {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	&__deck {
		height: 100px;
		width: 100px;
		background-color: green;
	}
	&__pile {
		height: 100px;
		width: 100px;
		background-color: purple;
	}
	&__burned {
		height: 100px;
		width: 100px;
		background-color: brown;
	}
}

.player-1 {
	background-color: orange;
	justify-content: flex-end;
	grid-row: 2 / 4;
	grid-column: 1 / -1;
	padding: 10rem;
}

.player-2 {
	background-color: darkkhaki;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.player-3 {
	background-color: goldenrod;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.player-4 {
	background-color: burlywood;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.player-5 {
	grid-row: 1 / 2;
	grid-column: 5 / 6;
}

.player-space {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	padding: 2rem;
	&__cards {
	}
	&__hand {
		justify-self: flex-end;
	}
}

.opponent {
	justify-content: center;
	&__name {
		align-self: flex-start;
		margin-bottom: auto;
	}
	&__cards {
	}
	&__hands {
	}
}
