.game-area {
	background-color: darkgrey;
	height: 100%;
	display: grid;
	grid-template-rows: 30% 30% 40%;
}
.opponent-area {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	display: flex;
}
.player-area {
	grid-row: 2 / 4;
	grid-column: 1 / 2;
	background-color: orange;
	justify-content: flex-end;
	padding: 10rem;
}
.play-area {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	z-index: 100;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding: 1rem;
	&__deck {
		height: 100px;
		width: 100px;
		background-color: green;
	}
	&__pile {
		height: 100px;
		width: 100px;
		background-color: purple;
	}
	&__burned {
		height: 100px;
		width: 100px;
		background-color: brown;
	}
	&__btn {
		grid-column: 2 / 3;
		justify-self: center;
		align-self: end;
	}
}

.player-1 {
}

.player-2 {
	background-color: darkkhaki;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.player-3 {
	background-color: goldenrod;
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.player-4 {
	background-color: burlywood;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.player-5 {
	grid-row: 1 / 2;
	grid-column: 4 / 5;
}

.user-space {
	display: flex;
	align-items: center;
	flex-flow: wrap column;
	padding: 2rem;
}

.opponent {
	flex-basis: 100%;
	justify-content: center;
	&__name {
		align-self: flex-start;
		margin-bottom: auto;
	}
	&__cards {
		& > p {
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
	&__hands {
	}
}

.opponent,
.player-1 {
	&__name {
		font-family: 'Righteous', cursive;
		font-size: 2rem;
		margin-bottom: auto;
		align-self: flex-start;
		text-transform: uppercase;
		color: black;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: 2rem;

		& > p {
			font-size: 1.5rem;
			font-weight: 900;
		}
	}
	&__hand {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
	}
	&__face-up {
		grid-row: 2 / 3;
		grid-column: 2 / 3;
	}
	&__face-down {
		grid-row: 2 / 3;
		grid-column: 3 / 4;
	}
}

.active-player {
	border: 1rem silver solid;
}

.card {
	margin-bottom: 2rem;
}
