.game-lobby {
	background: snow;
	height: 100%;
	display: grid;
	grid-template-rows: 10rem 1fr;
	grid-template-columns: 1fr 1fr;

	&__lobby-top {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		display: flex;
		flex-flow: column wrap;
		& .host-game {
			align-self: center;
		}
	}

	&__open-games {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
	}
}

.player-name-form {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	width: 100%;
	height: 100%;
	background-color: gray;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	z-index: 100;

	& > *:last-child {
		margin-bottom: auto;
	}
}
