header {
	background-color: cornflowerblue;
	height: 100px;
}

#main-window {
	background-color: darkgrey;
	min-height: 50vh;
}

.player-space {
	background-color: darkkhaki;
	height: 500px;
	width: 40vw;
	display: inline-block;
}

footer {
	background-color: cornflowerblue;
	height: 100px;
}
